<!DOCTYPE html>
<html>
  <head>
    <title>Panda : Your Coding Bootcamp Guide</title>
    <meta name="desctiption" content="">
    <meta name="desctiption" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    
    <div class="page-wrapper">
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo"><img src="/img/panda_panda.svg" height="100px"alt=""></a>
          
          <ul class="right hide-on-med-and-down">
            {{#if user}}
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/resource/add">New Resource</a></li>
            <li><a href="/admin/technology/type">New Technology</a></li>
            <li><a href="/admin/users">Manage Users</a></li>
            <li><a href="/admin/resource/type">New Resource Type</a></li>
            <li><a href="/admin/jobs/api/add">New Job API</a></li>
            
            {{else}}
            <li><a href="/login/github"><i class="material-icons">power_settings_new</i> Login with Github</a></li>
            {{/if}}
          </ul>
          
            

          <ul id="nav-mobile" class="side-nav">
            {{#if user}}
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/resource/add">New Resource</a></li>
            <li><a href="/admin/technology/type">New Technology</a></li>
            <li><a href="/admin/users">Manage Users</a></li>
            <li><a href="/admin/resource/type">New Resource Type</a></li>
            <li><a href="/admin/jobs/api/add">New Job API</a></li>

            
            <li class="nav-separator"></li>
              {{#if technology}}
                {{#each technology }}
                  <li><a href="{{#if link}} {{link}} {{else}} {{tech}} {{/if}}" class="blue-text">{{ tech }}</a></li>
                {{/each}}
              {{/if}}
            
            {{else}}
            <li><a href="/login/github"><i class="material-icons">power_settings_new</i> Login with Github</a></li>
            {{/if}}
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>

