{{> _header }}

  <div class="container">
    <div class="row">
      <aside class="col s12 m3">
        <div class="profile center">
          <img src="{{ user._json.avatar_url }}" class="circle profile-image z-depth-2" alt="{{user.username}} profile">
          <h6><a href="https://github.com/{{ user.username }}">{{ user.username }}</a></h6>
          <p>{{ user.displayName }}</p>
          <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        <hr style="width:50%">
        </div>
        <ul class="secondary-nav">
          <li><a href="/admin/home">ADMIN DASHBOARD</a></li>
          <li><a href="/admin/resource/add">NEW RESOURCE</a></li>
          <li><a href="/admin/technology/type">NEW TECHNOLOGY</a></li>
          <li><a href="/admin/users">MANAGE USERS</a></li>
          <li><a href="/admin/resource/type">NEW RESOURCE TYPE</a></li>
          <li><a href="/admin/jobs/api/add">NEW JOB API</a></li>
        </ul>
        
      </aside>

      <main class="col s12 m9">
        <h3 class="uppercase">MANAGE USERS</h3>
        <hr>

        {{!--these are users NOT admins--}}
      <div class="row">
        <div class="col s12 m6">
          <ul><h4>USERS</h4>
              {{#each userInfo}}
                {{#unless this.admin}}
                    <li>
                      
                      <form class="adjust" action="/admin/users/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="admin_change" value="true">
                        {{ this.user_name }} <button class="btn-floating btn-small waves-effect waves-light green" type="submit"><i class="material-icons">add</i></button>
                      </form>
                      {{!--<a href="/admin/users/delete/{{this.id}}">DELETE {{user_name}}</a>--}}
                      {{>_admin_delete}}
                    </li>
                    <br>
                {{/unless}}
              {{/each}}
            </ul>
          </div><!-- end of first column-->

          {{!--these are users WITH admin privlidges --}}
          <div class="col s12 m6">
              <ul><h4>ADMINS</h4>
                {{#each userInfo ~}}
                  {{#if this.admin ~}}
                      <li>
                        
                        <form class="adjust" action="/admin/users/{{this.id}}?_method=PUT" method="POST">
                          <input type="hidden" name="admin_change" value="false">
                          {{this.user_name}} <button class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons" type="submit">remove</i></button>
                        </form>{{>_admin_delete ~}}
                      </li>
                      <br>
                  {{/if ~}}
                {{/each ~}}
              </ul>
          </div><!-- end of second row-->
        </div> <!--end of row-->
        </main>
    </div><!-- /row -->
  </div><!-- /container -->
  

{{> _footer }}
