{{> _header }}



  <div class="container">
    <div class="row">
      <aside class="col s12 m3">
        <div class="profile center">
          <img src="http://placehold.it/200x200" class="circle profile-image z-depth-2" alt="alex profile">
          <h6><a href="github">josedigital</a></h6>
          
        </div>
        
          <ul class="secondary-nav">
          {{#each tech }}
            <li><a href="{{link}}">{{ tech }}</a></li>
          {{/each}}
          </ul>
        
      </aside>

      <main class="col s12 m9">
        {{#if jobs.provider}}
          <h3 class="uppercase">{{jobs.provider}}</h3>
        {{/if}}
          <p>http://www.NEED_JOB_URI_IN_DB.com</p>

        <div class="section">
          {{#if jobs.resultItemList}}
            <ul>
            {{#each jobs.resultItemList }}
              <li><a href="{{ detailUrl }}">{{ jobTitle }}</a></li>
            {{/each}}
            </ul>
          {{/if}}
          


          
          
          {{#if results}}
            {{#each results}}
              <p><a href="{{ refs.landing_page }}">{{ name }}</a></p>
            {{/each}}
          {{/if}}
          


          {{#each results }}
            <p><a href="{{url}}">{{jobtitle}}</a></p>
          {{/each}}
          
          
        </div>
      </main>

    </div><!-- /row -->
  </div><!-- /container -->
  

{{> _footer }}
