{{> _header }}

  <div class="container">
    <div class="row">
      <aside class="col s12 m3">
        {{> _sidebar_profile }}


        <ul class="secondary-nav">
          <li>
            Edit your <a href="/profile/{{user.username}}">user profile</a>
          </li>

          <li>
            Share your profile <a href="/public/profile/{{user.username}}">public profile</a>
          </li>
        </ul>

      </aside>

      <main class="col s12 m9" role="main">

        <h3>Your Github Repos:</h3>
        {{!--Token: {{ user.token }}--}}
        <p>
          Here is your Github Repos list. Please select up to 4 repos to display on <a href="/profile/{{user.username}}">your user profile page</a>.
        </p>
        
          <form action="/profile/add-repos" method="POST" class="repos-list-form">
          {{#each repos }}
              <p>
                <input type="checkbox" class="checkbox filled-in" 
                {{#if checked}} 
                  {{checked}}
                {{else if disabled}}
                  disabled
                {{/if}} 
                id="{{id}}" name="{{name}}" value="{{html_url}}"/>
                <label for="{{id}}">
                  {{ name }} (<a href="{{html_url}}" target="_blank">view repo</a>) 
                  <br>
                  {{description}}
                </label>
              </p>
          {{/each}}
            <button class="waves-effect waves-light btn" type="submit">Add repos to my profile</button>
          </form>
        
      </main>
    </div><!-- /row -->
  </div><!-- /container -->


{{> _footer }}
