{{> _header }}
<header>
  <div class="container">
    <h1>{{ home.title }}</h1>
    <p>{{ home.subtitle }}</p>
  </div>
</header>
<section role="main">
  <div class="container">
    <h1>hi again</h1>
    <p>
      <img src="{{ user.img }}" alt="" /><br>
      ID: {{ user.id }}<br/>
      Username: {{ user.username }}<br>
      Name: {{ user.displayName }}<br>
      Email: {{ user.email }}
    </p>

    <p>
      Repos:
    </p>

    <ul>
      {{ id }}
    </ul>
  </div>
</section>
{{> _footer }}
