{{> _header }}

<section role="main">
  <div class="container">
    <div class="row">
      <aside class="col s12 m3">
        <div class="profile center">
          <img src="{{ user._json.avatar_url }}" class="circle profile-image z-depth-2" alt="{{user.username}} profile">
          <h6><a href="/profile">{{ user.username }}</a></h6>
          <p>{{ user.displayName }}</p>
          <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>

        </div>

          <ul class="secondary-nav">
          {{#each technology }}
            <li><a href="/resources/{{tech}}">{{ tech }}</a></li>
          {{/each}}
          </ul>

      </aside>

      <main class="col s12 m9">
        <h3 class="uppercase">Resources</h3>
        <div class="providers-tabs">
          {{#each resources}}
            <span>
              <a href="{{link}}">{{ type }}</a>
            </span>
          {{/each}}
        </div>

        <div class="section">

          {{#if intro}}
            <p>{{intro}}</p>
          {{/if}}

        </div>
      </main>

    </div><!-- /row -->

  </div>
</section>
{{> _footer }}
